$gradient-primary: linear-gradient( 135deg, hsl(0, 0%, 100%),  hsl(0, 100%, 98%))
    
body
    min-height: 100vh
    background-image: $gradient-primary

main
    text-align: center

.sr-only 
    border: 0
    clip: rect(0 0 0 0)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px

        
    
.attribution
    font-size: 11px
    text-align: center
    a 
        color: hsl(228, 45%, 44%)

@media only screen and (min-width: 764px)
    body
        background-image: url("../images/bg-pattern-desktop.svg"), $gradient-primary

    main
        display: grid
        grid-template-columns: 58em 37em
        grid-template-rows: 10em 20em
        grid-template-areas: 'header hero' 'body hero'
        justify-content: center
        align-conter: center

    .attribution 
        grid-area: footer
