$gradient-primary: linear-gradient( 135deg, hsl(0, 0%, 100%),  hsl(0, 100%, 98%))
    
body
    min-height: 100vh
    background-image: $gradient-primary
    display: flex
    flex-direction: column

main
    text-align: center
        
    
.attribution
    font-size: 11px
    text-align: center
    a 
        color: hsl(228, 45%, 44%)

@media only screen and (min-width: 764px)
    body
        background-image: url("../images/bg-pattern-desktop.svg"), $gradient-primary

    main
        overflow: hidden
        display: grid
        grid-template-columns: 63vw auto
        grid-template-rows: 5vh 95vh
        grid-template-areas: 'header hero' 'body .'
        justify-content: center
        align-conter: center

    .attribution 
        grid-area: footer
